<style>

</style>

<div id="<%= dom_id article %>">
  <p class="text-center">
    <%= article.title %>
  </p>

  <p> ~ 
    <%= article.content %>
    ~
  </p>

  <p>
  <img width="50%" height="50%" src=" <%= article.image %> "  >
  </p>

</div>
