<div id="<%= dom_id article %>">
  <p justify-content>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
  <img width="100%" height="100%" src=" <%= article.image %> "  >
  </p>

</div>
